/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

html {
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #373A39;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10000;
}

.header__top-inner {
  padding-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu {
  margin-bottom: 9px;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  column-gap: 32px;
}

.menu__list-link {
  padding: 0 9px 9px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373A39;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
  transition: all 0.2s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #FCBB08;
}

.header__content {
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: calc(100vh - 85px);
  padding-top: 85px; 
  font-family: 'Montserrat', sans-serif;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 85px);
  justify-content: space-between;
}

.header__title {
  font-size: 72px;
  font-weight: 500;
  color: #fff;
  line-height: 84px;
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 130px;
}

.header__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCBB08;
  letter-spacing: 2.74px;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 62px;
}

.about {
  background-color: #F6F8FA;
  padding: 150px 0 144px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 60px;
  line-height: 75px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.65px;
  padding-bottom: 18px;
  position: relative;
  height: fit-content;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;
}

.about__title {
  font-size: 48px;
}

.about__text p {
  max-width: 770px;
  margin-bottom: 16px;
}

.espertise {
  padding: 140px 0 160px;
}

.expertise__title {
  margin-bottom: 90px;
}

.expertise__inner {
  display: flex;
  margin-bottom: 110px;
}

.expertise__info {
  width: 370px;
  margin-right: 30px;
  flex: none;
  margin-top: 10px;
}

.expertise__info-item {
  border-top: 2px solid #1D1D1D;
  padding: 2px 0 28px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  position: relative;
}

.expertise__info-item span {
  display: block;
  position: absolute;
  right: 0;
  top: -2px;
  margin-right: 7px;
}

.expertise__info-item span::before {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #F0F0F0;
  right: -7px;
  top: 0;
  width: 100%;
}

.expertise__text p {
  margin-bottom: 25px;
}

.expertise__items {
  display: flex;
  justify-content: space-between;
}

.expertise__item {
  width: 370px;
  padding-left: 85px;
  position: relative;
}

.expertise__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.expertise__item-title {
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 14px;
  margin-top: 8px;
}

.expertise__item-text {
  color: #777777;
}

.expertise__item--design::before {
  background-image: url('../img/design-icon.svg');
}

.expertise__item--dev::before {
  background-image: url('../img/monitor-icon.svg');
}

.expertise__item--marketing::before {
  background-image: url('../img/speaker-icon.svg');
}

.magic {
  background-color: #F6F8FA;
  background-image: url('../img/magic-bg.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left 82%;
}

.magic__inner {
  max-width: 470px;
  margin-left: auto;
  padding: 100px 0 190px;
}

.magic__title {
  margin-bottom: 67px;
}

.magic__text p {
  margin-bottom: 25px;
}

.portfolio {
  padding: 140px 0 165px;
}

.portfolio__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.portfolio__filter-btn {
  margin-right: 40px;
}

.portfolio__btn {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #333333;
  padding: 0 4px 5px;
  margin-right: 25px;
  outline-color: #FCBB08;
}



.portfolio__content {
  column-count: 4;
  column-gap: 22px;
}

.portfolio__item {
  margin-bottom: 22px;
  position: relative;
}

.portfolio__item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  color: #fff;
  text-transform: uppercase;
  background-color: #4C4A4A;
  border: 12px solid #7D7C7C;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .3s;
}

.portfolio__item:hover .portfolio__item-link {
  opacity: 1;
}

.portfolio__item img {
  width: 100%;
}

.portoflio__add {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  text-align: center;
  text-transform: uppercase;
  padding: 42px 15px 41px;
  background-color: #F6F8FA;
  margin-bottom: 130px;
}

.blockquote {
  font-family: 'Merriweather', serif;
  margin: 0 auto 148px;
  max-width: 650px;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
}

.blockqute__author {
  padding-top: 51px;
  display: block;
  font-size: 14px;
  line-height: 32px;
  color: #9E9E9E
}

.portfolio__video {
  background-image: url('../img/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 165px;
}

.portfolio__numbers {
  display: flex;
  justify-content: space-around;
}

.portfolio__number-item {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 9px;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}

.portfolio__number-item span {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #333;
  display: block;
}

.mixitup-control-active {
  border-bottom: 1px solid #FCBB08;
}

.slider-blog {
  background-color: #F8F6FA;
  padding: 115px 0;
}

.slider-blog__item-title {
  color: #242121;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 10px;
  max-width: 704px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}

.slider-blog__item-descr {
  max-width: 590px;
  font-weight: 300;
}

.slick-dots {
  display: flex;
  gap: 13px;
  align-items: center;
}

.slick-dots li {
  display: flex;
  align-items: center;
}

.slick-dots button {
  background-color: #242121;
  opacity: 0.4;
  border: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
}

.slick-active button {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.slider-blog__item {
  padding: 190px 0;
}

.slick-prev,
.slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: -95px;
}

.slick-next {
  right: -95px;
}

.team {
  padding: 120px 0 130px;
}

.team__title {
  margin-bottom: 100px;
}

.team__items {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 30px;
}

.team__name {
  font-family: 'Montserrat', sans-serif;
  padding: 35px 0 12px;
  color: #333333;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.team__position {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.pricing {
  background-color: #F6F8FA;
  padding: 145px 0 160px;
}

.pricing__title {
  margin-bottom: 90px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

ul.pricing__item {
  background-color: #fff;
  text-align: center;
  padding: 24px 25px 50px;
  width: 370px;
}

.pricing__item li {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin-bottom: 30px;
}

.pricing__item .pricing__item-name {
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
}

.pricing__item .pricing__item-num {
  font-size: 80px;
  line-height: 109px;
  margin-bottom: 50px;
}

.pricing__item-num sup {
  font-size: 40px;
  line-height: 54px;
}

.pricing__item-link {
  margin-top: 70px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  font-family: 'Montserrat', sans-serif;
  color: #242121;
}

.clients {
  padding: 70px 0 95px;
}

.clients__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.connection {
  padding: 145px 0 160px;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-size: 42%;
  background-position: right 50%;

}

.connection__title {
  margin-bottom: 80px;
}

.form {
  max-width: 570px;
}

.form input,
.form textarea {
  border: none;
  display: block;
  border-bottom: 2px solid #373A39;
  width: 100%;
  /* font-size: 20px; */
  padding: 16px 5px;
  margin-bottom: 16px;
  background-color: transparent;
}

.form textarea {
  min-height: 140px;
  resize: none;
}

.form input::placeholder .form textarea::placeholder {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3.70909px;
  color: #B8B8B8;
  text-transform: uppercase;
}

.form button {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 70px 15px;
  border: none;
  background-color: #242121;
  cursor: pointer;
  margin-top: 40px;
  letter-spacing: 2px;
}

.footer__top {
  padding: 110px 10px 60px;
  background-color: #333;
  text-align: center;
}

.footer__logo {
  display: inline-block;
  padding: 0 35px 4px;
  border-bottom: 2px solid #FCBB08;
  margin-bottom: 70px;
}

ul.footer__social {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 65px;
}

.footer__social-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
}

.footer__contant {
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 60px;
}

.footer__contant a {
  display: block;
  color: #fff;
  margin: 10px 0;
}

.go-top {
  display: inline-block;
}

.footer__copy {
  color: #fff;
  padding: 40px 10px;
  text-align: center;
  background-color: #2A2C2B;
  font-size: 12px;
  line-height: 16px;
}

@media (max-width: 1440px) {
  .magic__inner {
    padding: 50px 0;
  }
  .slick-prev {
    left: 0;
    z-index: 10;
  }
  .slick-next {
    right: 0;
    z-index: 10;
  }
  .slider-blog__item {
    padding: 120px 60px;
  }
  ul.slick-dots {
    margin-left: 60px;
  }
}

@media (max-width: 1200px) {
  .about,
  .espertise,
  .portfolio,
  .slider-blog,
  .team,
  .pricing,
  .connection {
    padding: 75px 0;
  }
  .about__inner {
    display: block;
  }

  .about__title,
  .expertise__title,
  .team__title,
  .pricing__title,
  .connection__title {
    margin-bottom: 50px;
  }

  .about__text p {
    max-width: 100%;
  }

  .title {
    font-size: 48px;
    line-height: 65px;
  }

  .portfolio__filter-btn{
    margin-right: 0;
  }
  .portfolio__btn {
    margin-right: 0;
    margin-left: 25px;
  }
  .clients__list {
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .expertise__inner {
    display: block;
    margin-bottom: 75px;
  }

  .expertise__items {
    display: block;
  }

  .expertise__item {
    width: 100%;
    margin-bottom: 40px;
  }

  .expertise__info {
    width: 100%;
  }

  .magic {
    background-image: none;
  }

  .magic__inner {
    max-width: 100%;
    margin-left: 0;
  }

  .magic__title {
    margin-bottom: 50px;
  }

  .portfolio__content {
    column-count: 3;
    column-gap: 22px;
  } 
  .portfolio__top {
    display: block;
  }
  .portfolio__filter-btn {
    margin-top: 40px;
  }
  .connection {
    background-image: none;
  }
  .form {
    max-width: 100%;
  }

  .footer__top {
    padding-top: 75px;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  ul.footer__social {
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 0;
  }
  .footer__social-list {
    width: 33.333%;
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .menu__list {
    transform: translateY(-200%);
    /* display: none; */
    position: absolute;
    left: 0;
    right: 0;
    top: 85px;
    background-color: #fff;
    display: block;
    text-align: center;
    transition: all .3s ease-in;
  }

  .title {
    font-size: 48px;
    line-height: 60px;
  }

  .menu__list--active {
    transform: translateY(0%);
  }

  ul.menu__list {
    padding: 15px 0;
  }

  .menu__list-link {
    display: block;
    padding: 15px 0;
  }

  .menu__btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 33px;
  }

  .header__top-inner {
    align-items: center;
  }

  .header__title {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 10px;
  }

  .header__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .portfolio__content {
    column-count: 2;
    column-gap: 22px;
  } 

  .portfolio__btn {
    display: block; 
    margin-left: 0;
    margin-bottom: 30px;
  }

  .portfolio__add {
    margin-bottom: 40px;
  }

  .blockquote {
    margin-bottom: 40px;
    padding: 0 10px;
  }

  .portfolio__video {
    margin-bottom: 70px;
  }
  .portfolio__numbers {
    flex-wrap: wrap;
    gap: 30px;
  }

  .portfolio__number-item {
    margin-bottom: 40px;
  }

  .slider-blog__item {
    padding: 60px 0;
  }
  ul.slick-dots {
    margin-left: 0;
  }

  .slider-blog__item-title {
    font-size: 24px;
    line-height: 32px;
  }
  .pricing__items {
    display: block;
  }

  ul.pricing__item {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 25px;
  }

  .clients__list {
    justify-content: space-around;
    flex-wrap: wrap;

  }
  .clients__list li {
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .team__items {
    display: block;
  }
  .team__item {
    margin-bottom: 25px;
  }
  .team__item img {
    margin: 0 auto;
  }
}

@media (max-width: 440px) {
  .header__title {
    font-size: 36px;
    line-height: 44px;
  }
  .about__title,
  .title {
    font-size: 28px;
    line-height: 42px;
  }
  .portfolio__number-item {
    width: 100%;
  }
  .footer__social-list {
    width: 50%;
  }
}

@media (max-width: 340px) {
  .expertise__item {
    padding-left: 0;
    padding-top: 60px;
  }
}